<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/assets/css/burger_style.css">
    <title>burger</title>
</head>
<body>
    {{{body}}}
    <script src="/"></script>
</body>
</html>